* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-align: center;
}
html {
	height: 100%;
}
body {
	background: linear-gradient(rgb(255, 57, 242), rgb(255, 159, 34));
	color: white;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav {
	text-align: left;
	margin: 0.5em 0 0 1em;
}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

h1 {
	margin-block: 4em 0.5em;
	color: rgb(230, 230, 230);
}

button {
	width: 60px;
	height: 25px;
	background-color: rgb(230, 230, 230);
	border: none;
	border-radius: 2px;
	margin-inline: 2px;
}

button:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200);
}
