* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

body {
	background: linear-gradient(-225deg, rgb(255, 183, 0), rgb(233, 255, 33));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@font-face {
	font-family: Qetalon;
	src: url("components/fonts/Qetalon.otf") format("opentype");
}

@font-face {
	font-family: Ameston;
	src: url("components/fonts/Amestonsans.otf") format("opentype");
}

button {
	width: 60px;
	height: 25px;
	background-color: rgb(230, 230, 230);
	border: none;
	border-radius: 2px;
	margin-inline: 2px;
	box-shadow: 0px 0px 3px black;
}

button:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200);
}

.active {
	color: red;
}

ul {
	margin-inline: auto;
}

.glass-1,
.glass-2,
.glass-3,
.glass-4 {
	position: absolute;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.36);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1.4px);
	-webkit-backdrop-filter: blur(1.4px);
}

.glass-1 {
	width: 100px;
	height: 100px;
	top: 10%;
	left: 30%;
	transform: skew(0deg);
}

.glass-2 {
	width: 100px;
	height: 100px;
	top: 10%;
	left: 90%;
	transform: skew(20deg);
}

.glass-3 {
	width: 150px;
	height: 200px;
	top: 60%;
	left: 30%;
	transform: skew(20deg);
}

.glass-4 {
	width: 150px;
	height: 100px;
	top: 70%;
	left: 70%;
	transform: skew(-20deg);
}
