* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-align: center;
}

body {
	background: linear-gradient(red, black);
	color: white;
	display: grid;
	place-items: center;
	height: 100vh;
}

h1 {
	margin-block: -6em 0.5em;
	color: rgb(230, 230, 230);
}

button {
	width: 60px;
	height: 25px;
	background-color: rgb(230, 230, 230);
	border: 1px solid;
	border-radius: 2px;
	margin-inline: 2px;
}

button:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200);
}
